#root {
  background-image: url('../public/bg-purple-technology.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {
  .chat-content {
    width: 288px;
    background-color: red;
  }
} */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .chat-content {
    width: 384px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .chat-content {
    width: 496px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .chat-content {
    width: 600px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .chat-content {
    width: 700px;
  }
}

.list-group {
  min-height: 300px;
  max-height: 300px;
  margin-bottom: 10px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  /* border: 1px solid gray; */
}

.svg-inline--fa.fa-arrow-right-from-bracket:hover {
  -webkit-transition: transform 0.5s ease-in-out;
  transform: scale(1.1);
  cursor: pointer;
}
